{% extends "shortenersite/base.html" %}

{% block title %}URL Shortner - Make your URL shorter!{% endblock %}

{% block content %}

<div class="panel panel-default">
    {% for url in urls %}
        <div class="panel-footer">
            <span id="url-result">
                <div class="flex-container">
                    <div>Сокращенная ссылка: <a href="{{ base_url }}/{{ url.short_id }}">{{ base_url }}/{{ url.short_id }}</a></div>
                    <div>Полная ссылка: <a href="{{ url.httpurl }}">{{ url.httpurl }}</a></div>
                    <div>Количество переходов: {{ url.count }}</div>
                    <div>Дата создания ссылки: {{ url.pub_date }}</div>
                </div>
            </span>
        </div>
    {% endfor %}
</div>

{% endblock %}