{% extends "shortenersite/base.html" %}

{% block title %}URL Shortner - Make your URL shorter!{% endblock %}

{% block content %}

{% for url in urls %}
    <div class="panel panel-default">
        <div class="panel-body">
            <span id="url-result">
                   Сокращенная ссылка: <a href="{{ base_url }}/{{ url.short_id }}">{{ base_url }}/{{ url.short_id }}</a>
                   Полная ссылка: <a href="{{ url.httpurl }}">{{ url.httpurl }}</a>
                   Количество переходов: {{ url.count }}
            </span>
        </div>
    </div>
{% endfor %}

{% endblock %}