{% extends "shortenersite/base.html" %}

{% block title %}URL Shortner - Make your URL shorter!{% endblock %}

{% block content %}

{% for url in urls %}
    <div class="panel panel-default">
        <div class="flex-container">
            <div class="panel-body">
                <span id="url-result">
                    <p>Сокращенная ссылка: <a href="{{ base_url }}/{{ url.short_id }}">{{ base_url }}/{{ url.short_id }}</a></p>
                    <p>Полная ссылка: <a href="{{ url.httpurl }}">{{ url.httpurl }}</a></p>
                    <p>Количество переходов: {{ url.count }}</p>
                </span>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock %}