#content {
margin-top: 20px;
margin-bottom: 60px;
}

a:hover{
text-decoration: none;
color: #8b0000;
}

header {
border-bottom: 1px solid #a1a1a1;
margin-bottom: 30px;
padding-bottom: 10px;
clear: both;
}

#wrap {
margin: 5px 10px 10px 10px;
padding: 10px;
text-align: left;
}
#url-result {
color: #5d5e68;
display: hidden;
}

.flex-container {
    display: flex; /* flex || inline-flex */
}